NET "dvi_odck_i" CLOCK_DEDICATED_ROUTE = FALSE;



NET "dvi_odck_i" LOC = AN32;
NET "dvi_de_i" LOC = AG33;
NET "dvi_vsync_i" LOC = AF33;
NET "dvi_hsync_i" LOC = AK34;



NET "dvi_st_o" LOC = AB1;
NET "dvi_invclk_o" LOC = AH2;
NET "dvi_pdoz_o" LOC = AM2;
NET "dvi_pdz_o" LOC = AL1;

NET "dvi_qe_i<0>" LOC = G1;
NET "dvi_qe_i<1>" LOC = F1;
NET "dvi_qe_i<2>" LOC = F3;
NET "dvi_qe_i<3>" LOC = E3;
NET "dvi_qe_i<4>" LOC = E1;
NET "dvi_qe_i<5>" LOC = E2;
NET "dvi_qe_i<6>" LOC = C3;
NET "dvi_qe_i<7>" LOC = C2;
NET "dvi_qe_i<8>" LOC = A3;
NET "dvi_qe_i<9>" LOC = B2;
NET "dvi_qe_i<10>" LOC = B1;
NET "dvi_qe_i<11>" LOC = B3;
NET "dvi_qe_i<12>" LOC = D1;
NET "dvi_qe_i<13>" LOC = D2;
NET "dvi_qe_i<14>" LOC = J2;
NET "dvi_qe_i<15>" LOC = J1;
NET "dvi_qe_i<16>" LOC = K1;
NET "dvi_qe_i<17>" LOC = K2;
NET "dvi_qe_i<18>" LOC = H2;
NET "dvi_qe_i<19>" LOC = H3;
NET "dvi_qe_i<20>" LOC = P2;
NET "dvi_qe_i<21>" LOC = R3;
NET "dvi_qe_i<22>" LOC = T1;
NET "dvi_qe_i<23>" LOC = R1;

NET "dvi_qo_i<0>" LOC = K34;
NET "dvi_qo_i<1>" LOC = L34;
NET "dvi_qo_i<2>" LOC = J34;
NET "dvi_qo_i<3>" LOC = H34;
NET "dvi_qo_i<4>" LOC = F34;
NET "dvi_qo_i<5>" LOC = G33;
NET "dvi_qo_i<6>" LOC = F33;
NET "dvi_qo_i<7>" LOC = G32;
NET "dvi_qo_i<8>" LOC = E34;
NET "dvi_qo_i<9>" LOC = D34;
NET "dvi_qo_i<10>" LOC = D32;
NET "dvi_qo_i<11>" LOC = C34;
NET "dvi_qo_i<12>" LOC = A33;
NET "dvi_qo_i<13>" LOC = B32;
NET "dvi_qo_i<14>" LOC = B33;
NET "dvi_qo_i<15>" LOC = C32;
NET "dvi_qo_i<16>" LOC = H32;
NET "dvi_qo_i<17>" LOC = C33;
NET "dvi_qo_i<18>" LOC =K33;
NET "dvi_qo_i<19>" LOC = K32;
NET "dvi_qo_i<20>" LOC = P34;
NET "dvi_qo_i<21>" LOC = N34;
NET "dvi_qo_i<22>" LOC = N33;
NET "dvi_qo_i<23>" LOC = M33;

NET "dvi_pixs" LOC = AJ1;

NET "dvi_odck_i" IOSTANDARD = "LVCMOS33";
NET "dvi_pixs" IOSTANDARD = "LVCMOS33";
NET "dvi_de_i" IOSTANDARD = "LVCMOS33";
NET "dvi_hsync_i" IOSTANDARD = "LVCMOS33";
NET "dvi_invclk_o" IOSTANDARD = "LVCMOS33";
NET "dvi_pdoz_o" IOSTANDARD = "LVCMOS33";
NET "dvi_pdz_o" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<0>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<1>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<2>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<3>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<4>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<5>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<6>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<7>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<8>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<9>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<10>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<11>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<12>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<13>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<14>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<15>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<16>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<17>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<18>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<19>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<20>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<21>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<22>" IOSTANDARD = "LVCMOS33";
NET "dvi_qe_i<23>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<0>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<1>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<2>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<3>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<4>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<5>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<6>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<7>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<8>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<9>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<10>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<11>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<12>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<13>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<14>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<15>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<16>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<17>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<18>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<19>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<20>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<21>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<22>" IOSTANDARD = "LVCMOS33";
NET "dvi_qo_i<23>" IOSTANDARD = "LVCMOS33";
NET "dvi_st_o" IOSTANDARD = "LVCMOS33";
NET "dvi_vsync_i" IOSTANDARD = "LVCMOS33";
NET "clk_i" TNM_NET = clk_i;
TIMESPEC TS_clk_i = PERIOD "clk_i" 20 ns HIGH 50%;
NET "dvi_odck_i" TNM_NET = dvi_odck_i;
#TIMESPEC TS_dvi_odck_i = PERIOD "dvi_odck_i" 20 ns HIGH 50%;
TIMESPEC TS_dvi_odck_i = PERIOD "dvi_odck_i" 5 ns HIGH 50%;
