NET"	B2B_Gb_MGT1_CLK_N	"LOC="	AH7	";
NET"	B2B_Gb_MGT1_CLK_P	"LOC="	AH8	";
NET"	B2B_Gb_MGT2_CLK_N	"LOC="	Y7	";
NET"	B2B_Gb_MGT2_CLK_P	"LOC="	Y8	";
NET"	B2B_Gb_MGT3_CLK_N	"LOC="	AD7	";
NET"	B2B_Gb_MGT3_CLK_P	"LOC="	AD8	";
NET"	B2B_Gb_QSE_RX0_N	"LOC="	AN5	";
NET"	B2B_Gb_QSE_RX0_P	"LOC="	AN6	";
NET"	B2B_Gb_QSE_RX1_N	"LOC="	AM7	";
NET"	B2B_Gb_QSE_RX1_P	"LOC="	AM8	";
NET"	B2B_Gb_QSE_RX2_N	"LOC="	AL5	";
NET"	B2B_Gb_QSE_RX2_P	"LOC="	AL6	";
NET"	B2B_Gb_QSE_RX3_N	"LOC="	AJ5	";
NET"	B2B_Gb_QSE_RX3_P	"LOC="	AJ6	";
NET"	B2B_Gb_QSE_RX4_N	"LOC="	AG5	";
NET"	B2B_Gb_QSE_RX4_P	"LOC="	AG6	";
NET"	B2B_Gb_QSE_RX5_N	"LOC="	AF3	";
NET"	B2B_Gb_QSE_RX5_P	"LOC="	AF4	";
NET"	B2B_GB_QSE_TX0_N	"LOC="	AP3	";
NET"	B2B_Gb_QSE_TX0_P	"LOC="	AP4	";
NET"	B2B_Gb_QSE_TX1_N	"LOC="	AN1	";
NET"	B2B_GB_QSE_TX1_P	"LOC="	AN2	";
NET"	B2B_Gb_QSE_TX2_N	"LOC="	AM3	";
NET"	B2B_Gb_QSE_TX2_P	"LOC="	AM4	";
NET"	B2B_Gb_QSE_TX3_N	"LOC="	AL1	";
NET"	B2B_Gb_QSE_TX3_P	"LOC="	AL2	";
NET"	B2B_Gb_QSE_TX4_N	"LOC="	AK3	";
NET"	B2B_Gb_QSE_TX4_P	"LOC="	AK4	";
NET"	B2B_Gb_QSE_TX5_N	"LOC="	AJ1	";
NET"	B2B_Gb_QSE_TX5_P	"LOC="	AJ2	";
NET"	B2B_Gb_QTE_RX0_N	"LOC="	AC5	";
NET"	B2B_Gb_QTE_RX0_P	"LOC="	AC6	";
NET"	B2B_Gb_QTE_RX1_N	"LOC="	AB3	";
NET"	B2B_Gb_QTE_RX1_P	"LOC="	AB4	";
NET"	B2B_Gb_QTE_RX2_N	"LOC="	AA5	";
NET"	B2B_Gb_QTE_RX2_P	"LOC="	AA6	";
NET"	B2B_Gb_QTE_RX3_N	"LOC="	Y3	";
NET"	B2B_Gb_QTE_RX3_P	"LOC="	Y4	";
NET"	B2B_Gb_QTE_RX4_N	"LOC="	AE5	";
NET"	B2B_Gb_QTE_RX4_P	"LOC="	AE6	";
NET"	B2B_Gb_QTE_RX5_N	"LOC="	AD3	";
NET"	B2B_Gb_QTE_RX5_P	"LOC="	AD4	";
NET"	B2B_Gb_QTE_TX0_N	"LOC="	AE1	";
NET"	B2B_Gb_QTE_TX0_P	"LOC="	AE2	";
NET"	B2B_Gb_QTE_TX1_N	"LOC="	AC1	";
NET"	B2B_Gb_QTE_TX1_P	"LOC="	AC2	";
NET"	B2B_Gb_QTE_TX2_N	"LOC="	AA1	";
NET"	B2B_Gb_QTE_TX2_P	"LOC="	AA2	";
NET"	B2B_Gb_QTE_TX3_N	"LOC="	W1	";
NET"	B2B_Gb_QTE_TX3_P	"LOC="	W2	";
NET"	B2B_Gb_QTE_TX4_N	"LOC="	AH3	";
NET"	B2B_Gb_QTE_TX4_P	"LOC="	AH4	";
NET"	B2B_Gb_QTE_TX5_N	"LOC="	AG1	";
NET"	B2B_Gb_QTE_TX5_P	"LOC="	AG2	";
NET"	CLK_MRCC_FMC_A_N	"LOC="	AW40	";
NET"	CLK_MRCC_FMC_A_P	"LOC="	AV40	";
NET"	CLK0_MGT_FMC_A_N	"LOC="	AT7	";
NET"	CLK0_MGT_FMC_A_P	"LOC="	AT8	";
NET"	CLK1_MGT_FMC_A_N	"LOC="	AW9	";
NET"	CLK1_MGT_FMC_A_P	"LOC="	AW10	";
NET"	DDR3_A[0]	"LOC="	AN18	";
NET"	DDR3_A[1]	"LOC="	BB16	";
NET"	DDR3_A[10]	"LOC="	AN19	";
NET"	DDR3_A[11]	"LOC="	AU18	";
NET"	DDR3_A[12]	"LOC="	AR17	";
NET"	DDR3_A[13]	"LOC="	AW20	";
NET"	DDR3_A[14]	"LOC="	AW17	";
NET"	DDR3_A[15]	"LOC="	AV18	";
NET"	DDR3_A[2]	"LOC="	AT20	";
NET"	DDR3_A[3]	"LOC="	AR18	";
NET"	DDR3_A[4]	"LOC="	AV20	";
NET"	DDR3_A[5]	"LOC="	AR19	";
NET"	DDR3_A[6]	"LOC="	AU19	";
NET"	DDR3_A[7]	"LOC="	AV19	";
NET"	DDR3_A[8]	"LOC="	AU16	";
NET"	DDR3_A[9]	"LOC="	AT16	";
NET"	DDR3_BA[0]	"LOC="	AY19	";
NET"	DDR3_BA[1]	"LOC="	BA16	";
NET"	DDR3_BA[2]	"LOC="	AP17	";
NET"	DDR3_CAS_N	"LOC="	AY20	";
NET"	DDR3_CK0_N	"LOC="	AM17	";
NET"	DDR3_CK0_P	"LOC="	AM18	";
NET"	DDR3_CK1_N	"LOC="	AM19	";
NET"	DDR3_CK1_P	"LOC="	AL19	";
NET"	DDR3_CKE0	"LOC="	AW18	";
NET"	DDR3_CKE1	"LOC="	AV16	";
NET"	DDR3_CS0_N	"LOC="	AY18	";
NET"	DDR3_CS1_N	"LOC="	AT19	";
NET"	DDR3_DM[0]	"LOC="	BB13	";
NET"	DDR3_DM[1]	"LOC="	AV13	";
NET"	DDR3_DM[2]	"LOC="	AM11	";
NET"	DDR3_DM[3]	"LOC="	AK14	";
NET"	DDR3_DM[4]	"LOC="	AK23	";
NET"	DDR3_DM[5]	"LOC="	AN24	";
NET"	DDR3_DM[6]	"LOC="	AW22	";
NET"	DDR3_DM[7]	"LOC="	AY24	";
NET"	DDR3_DQ[0]	"LOC="	AY12	";
NET"	DDR3_DQ[1]	"LOC="	AW12	";
NET"	DDR3_DQ[10]	"LOC="	AV15	";
NET"	DDR3_DQ[11]	"LOC="	AR15	";
NET"	DDR3_DQ[12]	"LOC="	AT12	";
NET"	DDR3_DQ[13]	"LOC="	AU12	";
NET"	DDR3_DQ[14]	"LOC="	AU14	";
NET"	DDR3_DQ[15]	"LOC="	AT15	";
NET"	DDR3_DQ[16]	"LOC="	AN13	";
NET"	DDR3_DQ[17]	"LOC="	AR14	";
NET"	DDR3_DQ[18]	"LOC="	AM12	";
NET"	DDR3_DQ[19]	"LOC="	AM13	";
NET"	DDR3_DQ[2]	"LOC="	AY13	";
NET"	DDR3_DQ[20]	"LOC="	AP11	";
NET"	DDR3_DQ[21]	"LOC="	AN11	";
NET"	DDR3_DQ[22]	"LOC="	AP13	";
NET"	DDR3_DQ[23]	"LOC="	AT14	";
NET"	DDR3_DQ[24]	"LOC="	AJ12	";
NET"	DDR3_DQ[25]	"LOC="	AK13	";
NET"	DDR3_DQ[26]	"LOC="	AL15	";
NET"	DDR3_DQ[27]	"LOC="	AL16	";
NET"	DDR3_DQ[28]	"LOC="	AK12	";
NET"	DDR3_DQ[29]	"LOC="	AJ13	";
NET"	DDR3_DQ[3]	"LOC="	BB14	";
NET"	DDR3_DQ[30]	"LOC="	AJ15	";
NET"	DDR3_DQ[31]	"LOC="	AJ16	";
NET"	DDR3_DQ[32]	"LOC="	AL21	";
NET"	DDR3_DQ[33]	"LOC="	AK20	";
NET"	DDR3_DQ[34]	"LOC="	AJ21	";
NET"	DDR3_DQ[35]	"LOC="	AJ20	";
NET"	DDR3_DQ[36]	"LOC="	AL20	";
NET"	DDR3_DQ[37]	"LOC="	AM21	";
NET"	DDR3_DQ[38]	"LOC="	AL22	";
NET"	DDR3_DQ[39]	"LOC="	AJ23	";
NET"	DDR3_DQ[4]	"LOC="	BA12	";
NET"	DDR3_DQ[40]	"LOC="	AN21	";
NET"	DDR3_DQ[41]	"LOC="	AN23	";
NET"	DDR3_DQ[42]	"LOC="	AM23	";
NET"	DDR3_DQ[43]	"LOC="	AM24	";
NET"	DDR3_DQ[44]	"LOC="	AP21	";
NET"	DDR3_DQ[45]	"LOC="	AT22	";
NET"	DDR3_DQ[46]	"LOC="	AR23	";
NET"	DDR3_DQ[47]	"LOC="	AR22	";
NET"	DDR3_DQ[48]	"LOC="	AU23	";
NET"	DDR3_DQ[49]	"LOC="	AW23	";
NET"	DDR3_DQ[5]	"LOC="	BB12	";
NET"	DDR3_DQ[50]	"LOC="	AV23	";
NET"	DDR3_DQ[51]	"LOC="	AR24	";
NET"	DDR3_DQ[52]	"LOC="	AW21	";
NET"	DDR3_DQ[53]	"LOC="	AV21	";
NET"	DDR3_DQ[54]	"LOC="	AT24	";
NET"	DDR3_DQ[55]	"LOC="	AU24	";
NET"	DDR3_DQ[56]	"LOC="	BA21	";
NET"	DDR3_DQ[57]	"LOC="	AY25	";
NET"	DDR3_DQ[58]	"LOC="	BB23	";
NET"	DDR3_DQ[59]	"LOC="	BA24	";
NET"	DDR3_DQ[6]	"LOC="	AY14	";
NET"	DDR3_DQ[60]	"LOC="	BB21	";
NET"	DDR3_DQ[61]	"LOC="	AY23	";
NET"	DDR3_DQ[62]	"LOC="	BB24	";
NET"	DDR3_DQ[63]	"LOC="	BA25	";
NET"	DDR3_DQ[7]	"LOC="	AW15	";
NET"	DDR3_DQ[8]	"LOC="	AU13	";
NET"	DDR3_DQ[9]	"LOC="	AW13	";
NET"	DDR3_DQS_N[0]	"LOC="	BA14	";
NET"	DDR3_DQS_N[1]	"LOC="	AR12	";
NET"	DDR3_DQS_N[2]	"LOC="	AN14	";
NET"	DDR3_DQS_N[3]	"LOC="	AL14	";
NET"	DDR3_DQS_N[4]	"LOC="	AK22	";
NET"	DDR3_DQS_N[5]	"LOC="	AP22	";
NET"	DDR3_DQS_N[6]	"LOC="	AU21	";
NET"	DDR3_DQS_N[7]	"LOC="	BB22	";
NET"	DDR3_DQS_P[0]	"LOC="	BA15	";
NET"	DDR3_DQS_P[1]	"LOC="	AP12	";
NET"	DDR3_DQS_P[2]	"LOC="	AN15	";
NET"	DDR3_DQS_P[3]	"LOC="	AK15	";
NET"	DDR3_DQS_P[4]	"LOC="	AJ22	";
NET"	DDR3_DQS_P[5]	"LOC="	AP23	";
NET"	DDR3_DQS_P[6]	"LOC="	AT21	";
NET"	DDR3_DQS_P[7]	"LOC="	BA22	";
NET"	DDR3_EVENT_N	"LOC="	AP20	";
NET"	DDR3_ODT0	"LOC="	BA19	";
NET"	DDR3_ODT1	"LOC="	BA20	";
NET"	DDR3_RAS_N	"LOC="	AY17	";
NET"	DDR3_RST_N	"LOC="	AW16	";
NET"	DDR3_WE_N	"LOC="	BB19	";
NET"	EMCCLK	"LOC="	AP37	";
NET"	FMC_A_CLK[2]_BI_N	"LOC="	H14	";
NET"	FMC_A_CLK[2]_BI_P	"LOC="	H15	";
NET"	FMC_A_CLK[3]_BI_N	"LOC="	G18	";
NET"	FMC_A_CLK[3]_BI_P	"LOC="	H19	";
NET"	FMC_A_DP[0]_C2M_N	"LOC="	BA5	";
NET"	FMC_A_DP[0]_C2M_P	"LOC="	BA6	";
NET"	FMC_A_DP[0]_M2C_N	"LOC="	BA1	";
NET"	FMC_A_DP[0]_M2C_P	"LOC="	BA2	";
NET"	FMC_A_DP[1]_C2M_N	"LOC="	BB7	";
NET"	FMC_A_DP[1]_C2M_P	"LOC="	BB8	";
NET"	FMC_A_DP[1]_M2C_N	"LOC="	BB3	";
NET"	FMC_A_DP[1]_M2C_P	"LOC="	BB4	";
NET"	FMC_A_DP[2]_C2M_N	"LOC="	AY7	";
NET"	FMC_A_DP[2]_C2M_P	"LOC="	AY8	";
NET"	FMC_A_DP[2]_M2C_N	"LOC="	AY3	";
NET"	FMC_A_DP[2]_M2C_P	"LOC="	AY4	";
NET"	FMC_A_DP[3]_C2M_N	"LOC="	AW5	";
NET"	FMC_A_DP[3]_C2M_P	"LOC="	AW6	";
NET"	FMC_A_DP[3]_M2C_N	"LOC="	AW1	";
NET"	FMC_A_DP[3]_M2C_P	"LOC="	AW2	";
NET"	FMC_A_DP[4]_C2M_N	"LOC="	AU5	";
NET"	FMC_A_DP[4]_C2M_P	"LOC="	AU6	";
NET"	FMC_A_DP[4]_M2C_N	"LOC="	AU1	";
NET"	FMC_A_DP[4]_M2C_P	"LOC="	AU2	";
NET"	FMC_A_DP[5]_C2M_N	"LOC="	AP7	";
NET"	FMC_A_DP[5]_C2M_P	"LOC="	AP8	";
NET"	FMC_A_DP[5]_M2C_N	"LOC="	AR1	";
NET"	FMC_A_DP[5]_M2C_P	"LOC="	AR2	";
NET"	FMC_A_DP[6]_C2M_N	"LOC="	AR5	";
NET"	FMC_A_DP[6]_C2M_P	"LOC="	AR6	";
NET"	FMC_A_DP[6]_M2C_N	"LOC="	AT3	";
NET"	FMC_A_DP[6]_M2C_P	"LOC="	AT4	";
NET"	FMC_A_DP[7]_C2M_N	"LOC="	AV7	";
NET"	FMC_A_DP[7]_C2M_P	"LOC="	AV8	";
NET"	FMC_A_DP[7]_M2C_N	"LOC="	AV3	";
NET"	FMC_A_DP[7]_M2C_P	"LOC="	AV4	";
NET"	FMC_A_HA[0]_CC_N	"LOC="	F27	";
NET"	FMC_A_HA[0]_CC_P	"LOC="	F26	";
NET"	FMC_A_HA[1]_CC_N	"LOC="	F31	";
NET"	FMC_A_HA[1]_CC_P	"LOC="	F30	";
NET"	FMC_A_HA[10]_N	"LOC="	C26	";
NET"	FMC_A_HA[10]_P	"LOC="	C25	";
NET"	FMC_A_HA[11]_N	"LOC="	D26	";
NET"	FMC_A_HA[11]_P	"LOC="	D25	";
NET"	FMC_A_HA[12]_N	"LOC="	A25	";
NET"	FMC_A_HA[12]_P	"LOC="	A24	";
NET"	FMC_A_HA[13]_N	"LOC="	C29	";
NET"	FMC_A_HA[13]_P	"LOC="	C28	";
NET"	FMC_A_HA[14]_N	"LOC="	B27	";
NET"	FMC_A_HA[14]_P	"LOC="	B26	";
NET"	FMC_A_HA[15]_N	"LOC="	D28	";
NET"	FMC_A_HA[15]_P	"LOC="	D27	";
NET"	FMC_A_HA[16]_N	"LOC="	A32	";
NET"	FMC_A_HA[16]_P	"LOC="	A31	";
NET"	FMC_A_HA[17]_CC_N	"LOC="	A27	";
NET"	FMC_A_HA[17]_CC_P	"LOC="	A26	";
NET"	FMC_A_HA[18]_CC_N	"LOC="	B29	";
NET"	FMC_A_HA[18]_CC_P	"LOC="	B28	";
NET"	FMC_A_HA[19]_N	"LOC="	B31	";
NET"	FMC_A_HA[19]_P	"LOC="	C31	";
NET"	FMC_A_HA[2]_N	"LOC="	E22	";
NET"	FMC_A_HA[2]_P	"LOC="	F22	";
NET"	FMC_A_HA[20]_N	"LOC="	C30	";
NET"	FMC_A_HA[20]_P	"LOC="	D30	";
NET"	FMC_A_HA[21]_N	"LOC="	A30	";
NET"	FMC_A_HA[21]_P	"LOC="	A29	";
NET"	FMC_A_HA[22]_N	"LOC="	B24	";
NET"	FMC_A_HA[22]_P	"LOC="	C24	";
NET"	FMC_A_HA[23]_N	"LOC="	D31	";
NET"	FMC_A_HA[23]_P	"LOC="	E30	";
NET"	FMC_A_HA[3]_N	"LOC="	E25	";
NET"	FMC_A_HA[3]_P	"LOC="	F25	";
NET"	FMC_A_HA[4]_N	"LOC="	E28	";
NET"	FMC_A_HA[4]_P	"LOC="	E27	";
NET"	FMC_A_HA[5]_N	"LOC="	E29	";
NET"	FMC_A_HA[5]_P	"LOC="	F29	";
NET"	FMC_A_HA[6]_N	"LOC="	B23	";
NET"	FMC_A_HA[6]_P	"LOC="	C23	";
NET"	FMC_A_HA[7]_N	"LOC="	D23	";
NET"	FMC_A_HA[7]_P	"LOC="	D22	";
NET"	FMC_A_HA[8]_N	"LOC="	E24	";
NET"	FMC_A_HA[8]_P	"LOC="	E23	";
NET"	FMC_A_HA[9]_N	"LOC="	A22	";
NET"	FMC_A_HA[9]_P	"LOC="	B22	";
NET"	FMC_A_HB[0]_CC_N	"LOC="	BA27	";
NET"	FMC_A_HB[0]_CC_P	"LOC="	BA26	";
NET"	FMC_A_HB[1]_N	"LOC="	BB29	";
NET"	FMC_A_HB[1]_P	"LOC="	BB28	";
NET"	FMC_A_HB[10]_N	"LOC="	AV28	";
NET"	FMC_A_HB[10]_P	"LOC="	AU28	";
NET"	FMC_A_HB[11]_N	"LOC="	AT26	";
NET"	FMC_A_HB[11]_P	"LOC="	AT25	";
NET"	FMC_A_HB[12]_N	"LOC="	AP28	";
NET"	FMC_A_HB[12]_P	"LOC="	AN28	";
NET"	FMC_A_HB[13]_N	"LOC="	AM27	";
NET"	FMC_A_HB[13]_P	"LOC="	AM26	";
NET"	FMC_A_HB[14]_N	"LOC="	AN26	";
NET"	FMC_A_HB[14]_P	"LOC="	AN25	";
NET"	FMC_A_HB[15]_N	"LOC="	AT27	";
NET"	FMC_A_HB[15]_P	"LOC="	AR27	";
NET"	FMC_A_HB[16]_N	"LOC="	AU27	";
NET"	FMC_A_HB[16]_P	"LOC="	AU26	";
NET"	FMC_A_HB[17]_CC_N	"LOC="	AJ26	";
NET"	FMC_A_HB[17]_CC_P	"LOC="	AJ25	";
NET"	FMC_A_HB[18]_N	"LOC="	AK25	";
NET"	FMC_A_HB[18]_P	"LOC="	AK24	";
NET"	FMC_A_HB[19]_N	"LOC="	AL27	";
NET"	FMC_A_HB[19]_P	"LOC="	AK27	";
NET"	FMC_A_HB[2]_N	"LOC="	AW28	";
NET"	FMC_A_HB[2]_P	"LOC="	AW27	";
NET"	FMC_A_HB[20]_N	"LOC="	AL26	";
NET"	FMC_A_HB[20]_P	"LOC="	AL25	";
NET"	FMC_A_HB[21]_N	"LOC="	AR25	";
NET"	FMC_A_HB[21]_P	"LOC="	AP25	";
NET"	FMC_A_HB[3]_N	"LOC="	AT29	";
NET"	FMC_A_HB[3]_P	"LOC="	AR29	";
NET"	FMC_A_HB[4]_N	"LOC="	AY28	";
NET"	FMC_A_HB[4]_P	"LOC="	AY27	";
NET"	FMC_A_HB[5]_N	"LOC="	AV29	";
NET"	FMC_A_HB[5]_P	"LOC="	AU29	";
NET"	FMC_A_HB[6]_CC_N	"LOC="	AW26	";
NET"	FMC_A_HB[6]_CC_P	"LOC="	AW25	";
NET"	FMC_A_HB[7]_N	"LOC="	AV26	";
NET"	FMC_A_HB[7]_P	"LOC="	AV25	";
NET"	FMC_A_HB[8]_N	"LOC="	BB27	";
NET"	FMC_A_HB[8]_P	"LOC="	BB26	";
NET"	FMC_A_HB[9]_N	"LOC="	AR28	";
NET"	FMC_A_HB[9]_P	"LOC="	AP27	";
NET"	FMC_A_LA[0]_CC_N	"LOC="	N20	";
NET"	FMC_A_LA[0]_CC_P	"LOC="	P20	";
NET"	FMC_A_LA[1]_CC_N	"LOC="	H20	";
NET"	FMC_A_LA[1]_CC_P	"LOC="	J20	";
NET"	FMC_A_LA[10]_N	"LOC="	C20	";
NET"	FMC_A_LA[10]_P	"LOC="	D20	";
NET"	FMC_A_LA[11]_N	"LOC="	D17	";
NET"	FMC_A_LA[11]_P	"LOC="	D18	";
NET"	FMC_A_LA[12]_N	"LOC="	E17	";
NET"	FMC_A_LA[12]_P	"LOC="	F17	";
NET"	FMC_A_LA[13]_N	"LOC="	A17	";
NET"	FMC_A_LA[13]_P	"LOC="	B17	";
NET"	FMC_A_LA[14]_N	"LOC="	A19	";
NET"	FMC_A_LA[14]_P	"LOC="	A20	";
NET"	FMC_A_LA[15]_N	"LOC="	A15	";
NET"	FMC_A_LA[15]_P	"LOC="	A16	";
NET"	FMC_A_LA[16]_N	"LOC="	B19	";
NET"	FMC_A_LA[16]_P	"LOC="	C19	";
NET"	FMC_A_LA[17]_CC_N	"LOC="	J15	";
NET"	FMC_A_LA[17]_CC_P	"LOC="	K15	";
NET"	FMC_A_LA[18]_CC_N	"LOC="	L15	";
NET"	FMC_A_LA[18]_CC_P	"LOC="	L16	";
NET"	FMC_A_LA[19]_N	"LOC="	N14	";
NET"	FMC_A_LA[19]_P	"LOC="	N15	";
NET"	FMC_A_LA[2]_N	"LOC="	N18	";
NET"	FMC_A_LA[2]_P	"LOC="	N19	";
NET"	FMC_A_LA[20]_N	"LOC="	M16	";
NET"	FMC_A_LA[20]_P	"LOC="	N16	";
NET"	FMC_A_LA[21]_N	"LOC="	M11	";
NET"	FMC_A_LA[21]_P	"LOC="	M12	";
NET"	FMC_A_LA[22]_N	"LOC="	M13	";
NET"	FMC_A_LA[22]_P	"LOC="	N13	";
NET"	FMC_A_LA[23]_N	"LOC="	L14	";
NET"	FMC_A_LA[23]_P	"LOC="	M14	";
NET"	FMC_A_LA[24]_N	"LOC="	H13	";
NET"	FMC_A_LA[24]_P	"LOC="	J13	";
NET"	FMC_A_LA[25]_N	"LOC="	J12	";
NET"	FMC_A_LA[25]_P	"LOC="	K12	";
NET"	FMC_A_LA[26]_N	"LOC="	K13	";
NET"	FMC_A_LA[26]_P	"LOC="	K14	";
NET"	FMC_A_LA[27]_N	"LOC="	G13	";
NET"	FMC_A_LA[27]_P	"LOC="	G14	";
NET"	FMC_A_LA[28]_N	"LOC="	E13	";
NET"	FMC_A_LA[28]_P	"LOC="	E14	";
NET"	FMC_A_LA[29]_N	"LOC="	F12	";
NET"	FMC_A_LA[29]_P	"LOC="	G12	";
NET"	FMC_A_LA[3]_N	"LOC="	L17	";
NET"	FMC_A_LA[3]_P	"LOC="	M17	";
NET"	FMC_A_LA[30]_N	"LOC="	C13	";
NET"	FMC_A_LA[30]_P	"LOC="	D13	";
NET"	FMC_A_LA[31]_N	"LOC="	D15	";
NET"	FMC_A_LA[31]_P	"LOC="	D16	";
NET"	FMC_A_LA[32]_N	"LOC="	A14	";
NET"	FMC_A_LA[32]_P	"LOC="	B14	";
NET"	FMC_A_LA[33]_N	"LOC="	C14	";
NET"	FMC_A_LA[33]_P	"LOC="	C15	";
NET"	FMC_A_LA[4]_N	"LOC="	L19	";
NET"	FMC_A_LA[4]_P	"LOC="	L20	";
NET"	FMC_A_LA[5]_N	"LOC="	J17	";
NET"	FMC_A_LA[5]_P	"LOC="	K17	";
NET"	FMC_A_LA[6]_N	"LOC="	M18	";
NET"	FMC_A_LA[6]_P	"LOC="	M19	";
NET"	FMC_A_LA[7]_N	"LOC="	G17	";
NET"	FMC_A_LA[7]_P	"LOC="	H18	";
NET"	FMC_A_LA[8]_N	"LOC="	J18	";
NET"	FMC_A_LA[8]_P	"LOC="	K19	";
NET"	FMC_A_LA[9]_N	"LOC="	F19	";
NET"	FMC_A_LA[9]_P	"LOC="	G19	";
NET"	FMC_A_PG_C2M_F	"LOC="	L37	";
NET"	FMC_A_PG_M2C_F	"LOC="	M37	";
NET"	FMC_B_CLK[0]_M2C_N	"LOC="	L24	";
NET"	FMC_B_CLK[0]_M2C_P	"LOC="	M24	";
NET"	FMC_B_CLK[1]_M2C_N	"LOC="	E35	";
NET"	FMC_B_CLK[1]_M2C_P	"LOC="	E34	";
NET"	FMC_B_DP[0]_C2M_N	"LOC="	K3	";
NET"	FMC_B_DP[0]_C2M_P	"LOC="	K4	";
NET"	FMC_B_DP[0]_M2C_N	"LOC="	J5	";
NET"	FMC_B_DP[0]_M2C_P	"LOC="	J6	";
NET"	FMC_B_DP[1]_C2M_N	"LOC="	L1	";
NET"	FMC_B_DP[1]_C2M_P	"LOC="	L2	";
NET"	FMC_B_DP[1]_M2C_N	"LOC="	L5	";
NET"	FMC_B_DP[1]_M2C_P	"LOC="	L6	";
NET"	FMC_B_DP[2]_C2M_N	"LOC="	M3	";
NET"	FMC_B_DP[2]_C2M_P	"LOC="	M4	";
NET"	FMC_B_DP[2]_M2C_N	"LOC="	N5	";
NET"	FMC_B_DP[2]_M2C_P	"LOC="	N6	";
NET"	FMC_B_DP[3]_C2M_N	"LOC="	N1	";
NET"	FMC_B_DP[3]_C2M_P	"LOC="	N2	";
NET"	FMC_B_DP[3]_M2C_N	"LOC="	P7	";
NET"	FMC_B_DP[3]_M2C_P	"LOC="	P8	";
NET"	FMC_B_DP[4]_C2M_N	"LOC="	R1	";
NET"	FMC_B_DP[4]_C2M_P	"LOC="	R2	";
NET"	FMC_B_DP[4]_M2C_N	"LOC="	U5	";
NET"	FMC_B_DP[4]_M2C_P	"LOC="	U6	";
NET"	FMC_B_DP[5]_C2M_N	"LOC="	U1	";
NET"	FMC_B_DP[5]_C2M_P	"LOC="	U2	";
NET"	FMC_B_DP[5]_M2C_N	"LOC="	W5	";
NET"	FMC_B_DP[5]_M2C_P	"LOC="	W6	";
NET"	FMC_B_DP[6]_C2M_N	"LOC="	T3	";
NET"	FMC_B_DP[6]_C2M_P	"LOC="	T4	";
NET"	FMC_B_DP[6]_M2C_N	"LOC="	V3	";
NET"	FMC_B_DP[6]_M2C_P	"LOC="	V4	";
NET"	FMC_B_DP[7]_C2M_N	"LOC="	P3	";
NET"	FMC_B_DP[7]_C2M_P	"LOC="	P4	";
NET"	FMC_B_DP[7]_M2C_N	"LOC="	R5	";
NET"	FMC_B_DP[7]_M2C_P	"LOC="	R6	";
NET"	FMC_B_GBTCLK[0]_M2	"LOC="	K7	";
NET"	FMC_B_GBTCLK[0]_M2	"LOC="	K8	";
NET"	FMC_B_GBTCLK[1]_M2	"LOC="	T7	";
NET"	FMC_B_GBTCLK[1]_M2	"LOC="	T8	";
NET"	FMC_B_HA[0]_CC_N	"LOC="	M31	";
NET"	FMC_B_HA[0]_CC_P	"LOC="	N30	";
NET"	FMC_B_HA[1]_CC_N	"LOC="	N31	";
NET"	FMC_B_HA[1]_CC_P	"LOC="	P30	";
NET"	FMC_B_HA[10]_N	"LOC="	W31	";
NET"	FMC_B_HA[10]_P	"LOC="	W30	";
NET"	FMC_B_HA[11]_N	"LOC="	L35	";
NET"	FMC_B_HA[11]_P	"LOC="	L34	";
NET"	FMC_B_HA[12]_N	"LOC="	M29	";
NET"	FMC_B_HA[12]_P	"LOC="	M28	";
NET"	FMC_B_HA[13]_N	"LOC="	L30	";
NET"	FMC_B_HA[13]_P	"LOC="	L29	";
NET"	FMC_B_HA[14]_N	"LOC="	K30	";
NET"	FMC_B_HA[14]_P	"LOC="	K29	";
NET"	FMC_B_HA[15]_N	"LOC="	P28	";
NET"	FMC_B_HA[15]_P	"LOC="	R28	";
NET"	FMC_B_HA[16]_N	"LOC="	N29	";
NET"	FMC_B_HA[16]_P	"LOC="	N28	";
NET"	FMC_B_HA[17]_CC_N	"LOC="	K32	";
NET"	FMC_B_HA[17]_CC_P	"LOC="	L31	";
NET"	FMC_B_HA[18]_CC_N	"LOC="	L32	";
NET"	FMC_B_HA[18]_CC_P	"LOC="	M32	";
NET"	FMC_B_HA[19]_N	"LOC="	U29	";
NET"	FMC_B_HA[19]_P	"LOC="	V29	";
NET"	FMC_B_HA[2]_N	"LOC="	P31	";
NET"	FMC_B_HA[2]_P	"LOC="	R30	";
NET"	FMC_B_HA[20]_N	"LOC="	T30	";
NET"	FMC_B_HA[20]_P	"LOC="	T29	";
NET"	FMC_B_HA[21]_N	"LOC="	Y30	";
NET"	FMC_B_HA[21]_P	"LOC="	Y29	";
NET"	FMC_B_HA[22]_N	"LOC="	T31	";
NET"	FMC_B_HA[22]_P	"LOC="	U31	";
NET"	FMC_B_HA[23]_N	"LOC="	H35	";
NET"	FMC_B_HA[23]_P	"LOC="	H34	";
NET"	FMC_B_HA[3]_N	"LOC="	M34	";
NET"	FMC_B_HA[3]_P	"LOC="	M33	";
NET"	FMC_B_HA[4]_N	"LOC="	J33	";
NET"	FMC_B_HA[4]_P	"LOC="	J32	";
NET"	FMC_B_HA[5]_N	"LOC="	K34	";
NET"	FMC_B_HA[5]_P	"LOC="	K33	";
NET"	FMC_B_HA[6]_N	"LOC="	V31	";
NET"	FMC_B_HA[6]_P	"LOC="	V30	";
NET"	FMC_B_HA[7]_N	"LOC="	J35	";
NET"	FMC_B_HA[7]_P	"LOC="	K35	";
NET"	FMC_B_HA[8]_N	"LOC="	H30	";
NET"	FMC_B_HA[8]_P	"LOC="	J30	";
NET"	FMC_B_HA[9]_N	"LOC="	H31	";
NET"	FMC_B_HA[9]_P	"LOC="	J31	";
NET"	FMC_B_HB[0]_CC_N	"LOC="	AD33	";
NET"	FMC_B_HB[0]_CC_P	"LOC="	AD32	";
NET"	FMC_B_HB[1]_N	"LOC="	AE30	";
NET"	FMC_B_HB[1]_P	"LOC="	AE29	";
NET"	FMC_B_HB[10]_N	"LOC="	AF36	";
NET"	FMC_B_HB[10]_P	"LOC="	AF35	";
NET"	FMC_B_HB[11]_N	"LOC="	AE35	";
NET"	FMC_B_HB[11]_P	"LOC="	AE34	";
NET"	FMC_B_HB[12]_N	"LOC="	AA37	";
NET"	FMC_B_HB[12]_P	"LOC="	Y37	";
NET"	FMC_B_HB[13]_N	"LOC="	AA36	";
NET"	FMC_B_HB[13]_P	"LOC="	Y35	";
NET"	FMC_B_HB[14]_N	"LOC="	AC29	";
NET"	FMC_B_HB[14]_P	"LOC="	AB29	";
NET"	FMC_B_HB[15]_N	"LOC="	AA35	";
NET"	FMC_B_HB[15]_P	"LOC="	AA34	";
NET"	FMC_B_HB[16]_N	"LOC="	AB32	";
NET"	FMC_B_HB[16]_P	"LOC="	AB31	";
NET"	FMC_B_HB[17]_CC_N	"LOC="	AC33	";
NET"	FMC_B_HB[17]_CC_P	"LOC="	AB33	";
NET"	FMC_B_HB[18]_N	"LOC="	AD30	";
NET"	FMC_B_HB[18]_P	"LOC="	AC30	";
NET"	FMC_B_HB[19]_N	"LOC="	AA32	";
NET"	FMC_B_HB[19]_P	"LOC="	AA31	";
NET"	FMC_B_HB[2]_N	"LOC="	AE33	";
NET"	FMC_B_HB[2]_P	"LOC="	AE32	";
NET"	FMC_B_HB[20]_N	"LOC="	AD31	";
NET"	FMC_B_HB[20]_P	"LOC="	AC31	";
NET"	FMC_B_HB[21]_N	"LOC="	AA30	";
NET"	FMC_B_HB[21]_P	"LOC="	AA29	";
NET"	FMC_B_HB[3]_N	"LOC="	AG34	";
NET"	FMC_B_HB[3]_P	"LOC="	AF34	";
NET"	FMC_B_HB[4]_N	"LOC="	AD37	";
NET"	FMC_B_HB[4]_P	"LOC="	AD36	";
NET"	FMC_B_HB[5]_N	"LOC="	AF37	";
NET"	FMC_B_HB[5]_P	"LOC="	AE37	";
NET"	FMC_B_HB[6]_CC_N	"LOC="	AD35	";
NET"	FMC_B_HB[6]_CC_P	"LOC="	AC34	";
NET"	FMC_B_HB[7]_N	"LOC="	AF32	";
NET"	FMC_B_HB[7]_P	"LOC="	AF31	";
NET"	FMC_B_HB[8]_N	"LOC="	AB37	";
NET"	FMC_B_HB[8]_P	"LOC="	AB36	";
NET"	FMC_B_HB[9]_N	"LOC="	AC36	";
NET"	FMC_B_HB[9]_P	"LOC="	AC35	";
NET"	FMC_B_LA[0]_CC_N	"LOC="	C36	";
NET"	FMC_B_LA[0]_CC_P	"LOC="	C35	";
NET"	FMC_B_LA[1]_CC_N	"LOC="	D36	";
NET"	FMC_B_LA[1]_CC_P	"LOC="	D35	";
NET"	FMC_B_LA[10]_N	"LOC="	G33	";
NET"	FMC_B_LA[10]_P	"LOC="	H33	";
NET"	FMC_B_LA[11]_N	"LOC="	F35	";
NET"	FMC_B_LA[11]_P	"LOC="	F34	";
NET"	FMC_B_LA[12]_N	"LOC="	C34	";
NET"	FMC_B_LA[12]_P	"LOC="	C33	";
NET"	FMC_B_LA[13]_N	"LOC="	F37	";
NET"	FMC_B_LA[13]_P	"LOC="	F36	";
NET"	FMC_B_LA[14]_N	"LOC="	G37	";
NET"	FMC_B_LA[14]_P	"LOC="	G36	";
NET"	FMC_B_LA[15]_N	"LOC="	G38	";
NET"	FMC_B_LA[15]_P	"LOC="	H38	";
NET"	FMC_B_LA[16]_N	"LOC="	H36	";
NET"	FMC_B_LA[16]_P	"LOC="	J36	";
NET"	FMC_B_LA[17]_CC_N	"LOC="	J26	";
NET"	FMC_B_LA[17]_CC_P	"LOC="	J25	";
NET"	FMC_B_LA[18]_CC_N	"LOC="	K25	";
NET"	FMC_B_LA[18]_CC_P	"LOC="	K24	";
NET"	FMC_B_LA[19]_N	"LOC="	J28	";
NET"	FMC_B_LA[19]_P	"LOC="	K28	";
NET"	FMC_B_LA[2]_N	"LOC="	C39	";
NET"	FMC_B_LA[2]_P	"LOC="	C38	";
NET"	FMC_B_LA[20]_N	"LOC="	L26	";
NET"	FMC_B_LA[20]_P	"LOC="	L25	";
NET"	FMC_B_LA[21]_N	"LOC="	H26	";
NET"	FMC_B_LA[21]_P	"LOC="	H25	";
NET"	FMC_B_LA[22]_N	"LOC="	G27	";
NET"	FMC_B_LA[22]_P	"LOC="	G26	";
NET"	FMC_B_LA[23]_N	"LOC="	H29	";
NET"	FMC_B_LA[23]_P	"LOC="	H28	";
NET"	FMC_B_LA[24]_N	"LOC="	G24	";
NET"	FMC_B_LA[24]_P	"LOC="	H24	";
NET"	FMC_B_LA[25]_N	"LOC="	J23	";
NET"	FMC_B_LA[25]_P	"LOC="	K23	";
NET"	FMC_B_LA[26]_N	"LOC="	G29	";
NET"	FMC_B_LA[26]_P	"LOC="	G28	";
NET"	FMC_B_LA[27]_N	"LOC="	J27	";
NET"	FMC_B_LA[27]_P	"LOC="	K27	";
NET"	FMC_B_LA[28]_N	"LOC="	G22	";
NET"	FMC_B_LA[28]_P	"LOC="	G21	";
NET"	FMC_B_LA[29]_N	"LOC="	J22	";
NET"	FMC_B_LA[29]_P	"LOC="	K22	";
NET"	FMC_B_LA[3]_N	"LOC="	A36	";
NET"	FMC_B_LA[3]_P	"LOC="	A35	";
NET"	FMC_B_LA[30]_N	"LOC="	L22	";
NET"	FMC_B_LA[30]_P	"LOC="	M22	";
NET"	FMC_B_LA[31]_N	"LOC="	H21	";
NET"	FMC_B_LA[31]_P	"LOC="	J21	";
NET"	FMC_B_LA[32]_N	"LOC="	P23	";
NET"	FMC_B_LA[32]_P	"LOC="	P22	";
NET"	FMC_B_LA[33]_N	"LOC="	L21	";
NET"	FMC_B_LA[33]_P	"LOC="	M21	";
NET"	FMC_B_LA[4]_N	"LOC="	A39	";
NET"	FMC_B_LA[4]_P	"LOC="	B39	";
NET"	FMC_B_LA[5]_N	"LOC="	D33	";
NET"	FMC_B_LA[5]_P	"LOC="	E33	";
NET"	FMC_B_LA[6]_N	"LOC="	D32	";
NET"	FMC_B_LA[6]_P	"LOC="	E32	";
NET"	FMC_B_LA[7]_N	"LOC="	B33	";
NET"	FMC_B_LA[7]_P	"LOC="	B32	";
NET"	FMC_B_LA[8]_N	"LOC="	A34	";
NET"	FMC_B_LA[8]_P	"LOC="	B34	";
NET"	FMC_B_LA[9]_N	"LOC="	F32	";
NET"	FMC_B_LA[9]_P	"LOC="	G32	";
NET"	FMC_B_PG_C2M_F	"LOC="	K38	";
NET"	FMC_B_PG_M2C_F	"LOC="	M36	";
NET"	FMC_B_PRSNT_M2C_L_	"LOC="	K37	";
NET"	FMC_C_CLK[0]_M2C_N	"LOC="	L40	";
NET"	FMC_C_CLK[0]_M2C_P	"LOC="	L39	";
NET"	FMC_C_CLK[1]_M2C_N	"LOC="	T37	";
NET"	FMC_C_CLK[1]_M2C_P	"LOC="	U36	";
NET"	FMC_C_DP[0]_C2M_N	"LOC="	B3	";
NET"	FMC_C_DP[0]_C2M_P	"LOC="	B4	";
NET"	FMC_C_DP[0]_M2C_N	"LOC="	A5	";
NET"	FMC_C_DP[0]_M2C_P	"LOC="	A6	";
NET"	FMC_C_DP[1]_C2M_N	"LOC="	C1	";
NET"	FMC_C_DP[1]_C2M_P	"LOC="	C2	";
NET"	FMC_C_DP[1]_M2C_N	"LOC="	B7	";
NET"	FMC_C_DP[1]_M2C_P	"LOC="	B8	";
NET"	FMC_C_DP[2]_C2M_N	"LOC="	D3	";
NET"	FMC_C_DP[2]_C2M_P	"LOC="	D4	";
NET"	FMC_C_DP[2]_M2C_N	"LOC="	C5	";
NET"	FMC_C_DP[2]_M2C_P	"LOC="	C6	";
NET"	FMC_C_DP[3]_C2M_N	"LOC="	E1	";
NET"	FMC_C_DP[3]_C2M_P	"LOC="	E2	";
NET"	FMC_C_DP[3]_M2C_N	"LOC="	D7	";
NET"	FMC_C_DP[3]_M2C_P	"LOC="	D8	";
NET"	FMC_C_DP[4]_C2M_N	"LOC="	G1	";
NET"	FMC_C_DP[4]_C2M_P	"LOC="	G2	";
NET"	FMC_C_DP[4]_M2C_N	"LOC="	F7	";
NET"	FMC_C_DP[4]_M2C_P	"LOC="	F8	";
NET"	FMC_C_DP[5]_C2M_N	"LOC="	J1	";
NET"	FMC_C_DP[5]_C2M_P	"LOC="	J2	";
NET"	FMC_C_DP[5]_M2C_N	"LOC="	H7	";
NET"	FMC_C_DP[5]_M2C_P	"LOC="	H8	";
NET"	FMC_C_DP[6]_C2M_N	"LOC="	H3	";
NET"	FMC_C_DP[6]_C2M_P	"LOC="	H4	";
NET"	FMC_C_DP[6]_M2C_N	"LOC="	G5	";
NET"	FMC_C_DP[6]_M2C_P	"LOC="	G6	";
NET"	FMC_C_DP[7]_C2M_N	"LOC="	F3	";
NET"	FMC_C_DP[7]_C2M_P	"LOC="	F4	";
NET"	FMC_C_DP[7]_M2C_N	"LOC="	E5	";
NET"	FMC_C_DP[7]_M2C_P	"LOC="	E6	";
NET"	FMC_C_GBTCLK[0]_M2	"LOC="	A9	";
NET"	FMC_C_GBTCLK[0]_M2	"LOC="	A10	";
NET"	FMC_C_GBTCLK[1]_M2	"LOC="	E9	";
NET"	FMC_C_GBTCLK[1]_M2	"LOC="	E10	";
NET"	FMC_C_HA[0]_CC_N	"LOC="	AF40	";
NET"	FMC_C_HA[0]_CC_P	"LOC="	AF39	";
NET"	FMC_C_HA[1]_CC_N	"LOC="	AG41	";
NET"	FMC_C_HA[1]_CC_P	"LOC="	AF41	";
NET"	FMC_C_HA[10]_N	"LOC="	AH39	";
NET"	FMC_C_HA[10]_P	"LOC="	AG39	";
NET"	FMC_C_HA[11]_N	"LOC="	AE42	";
NET"	FMC_C_HA[11]_P	"LOC="	AD42	";
NET"	FMC_C_HA[12]_N	"LOC="	AA39	";
NET"	FMC_C_HA[12]_P	"LOC="	Y39	";
NET"	FMC_C_HA[13]_N	"LOC="	AC41	";
NET"	FMC_C_HA[13]_P	"LOC="	AC40	";
NET"	FMC_C_HA[14]_N	"LOC="	AB42	";
NET"	FMC_C_HA[14]_P	"LOC="	AB41	";
NET"	FMC_C_HA[15]_N	"LOC="	AA42	";
NET"	FMC_C_HA[15]_P	"LOC="	Y42	";
NET"	FMC_C_HA[16]_N	"LOC="	AB39	";
NET"	FMC_C_HA[16]_P	"LOC="	AB38	";
NET"	FMC_C_HA[17]_CC_N	"LOC="	AD41	";
NET"	FMC_C_HA[17]_CC_P	"LOC="	AD40	";
NET"	FMC_C_HA[18]_CC_N	"LOC="	AE40	";
NET"	FMC_C_HA[18]_CC_P	"LOC="	AE39	";
NET"	FMC_C_HA[19]_N	"LOC="	AC39	";
NET"	FMC_C_HA[19]_P	"LOC="	AC38	";
NET"	FMC_C_HA[2]_N	"LOC="	AH38	";
NET"	FMC_C_HA[2]_P	"LOC="	AG38	";
NET"	FMC_C_HA[20]_N	"LOC="	Y40	";
NET"	FMC_C_HA[20]_P	"LOC="	W40	";
NET"	FMC_C_HA[21]_N	"LOC="	AE38	";
NET"	FMC_C_HA[21]_P	"LOC="	AD38	";
NET"	FMC_C_HA[22]_N	"LOC="	AA41	";
NET"	FMC_C_HA[22]_P	"LOC="	AA40	";
NET"	FMC_C_HA[23]_N	"LOC="	AL40	";
NET"	FMC_C_HA[23]_P	"LOC="	AK40	";
NET"	FMC_C_HA[3]_N	"LOC="	AK38	";
NET"	FMC_C_HA[3]_P	"LOC="	AJ38	";
NET"	FMC_C_HA[4]_N	"LOC="	AJ41	";
NET"	FMC_C_HA[4]_P	"LOC="	AJ40	";
NET"	FMC_C_HA[5]_N	"LOC="	AK42	";
NET"	FMC_C_HA[5]_P	"LOC="	AJ42	";
NET"	FMC_C_HA[6]_N	"LOC="	AL39	";
NET"	FMC_C_HA[6]_P	"LOC="	AK39	";
NET"	FMC_C_HA[7]_N	"LOC="	AL42	";
NET"	FMC_C_HA[7]_P	"LOC="	AL41	";
NET"	FMC_C_HA[8]_N	"LOC="	AG42	";
NET"	FMC_C_HA[8]_P	"LOC="	AF42	";
NET"	FMC_C_HA[9]_N	"LOC="	AH41	";
NET"	FMC_C_HA[9]_P	"LOC="	AH40	";
NET"	FMC_C_HB[0]_CC_N	"LOC="	AW33	";
NET"	FMC_C_HB[0]_CC_P	"LOC="	AW32	";
NET"	FMC_C_HB[1]_N	"LOC="	AW31	";
NET"	FMC_C_HB[1]_P	"LOC="	AV30	";
NET"	FMC_C_HB[10]_N	"LOC="	AV33	";
NET"	FMC_C_HB[10]_P	"LOC="	AU32	";
NET"	FMC_C_HB[11]_N	"LOC="	BB34	";
NET"	FMC_C_HB[11]_P	"LOC="	BA34	";
NET"	FMC_C_HB[12]_N	"LOC="	AU36	";
NET"	FMC_C_HB[12]_P	"LOC="	AT36	";
NET"	FMC_C_HB[13]_N	"LOC="	AW36	";
NET"	FMC_C_HB[13]_P	"LOC="	AV36	";
NET"	FMC_C_HB[14]_N	"LOC="	AP30	";
NET"	FMC_C_HB[14]_P	"LOC="	AN30	";
NET"	FMC_C_HB[15]_N	"LOC="	AU34	";
NET"	FMC_C_HB[15]_P	"LOC="	AT34	";
NET"	FMC_C_HB[16]_N	"LOC="	AR33	";
NET"	FMC_C_HB[16]_P	"LOC="	AP33	";
NET"	FMC_C_HB[17]_CC_N	"LOC="	AV35	";
NET"	FMC_C_HB[17]_CC_P	"LOC="	AV34	";
NET"	FMC_C_HB[18]_N	"LOC="	AP31	";
NET"	FMC_C_HB[18]_P	"LOC="	AN31	";
NET"	FMC_C_HB[19]_N	"LOC="	AT35	";
NET"	FMC_C_HB[19]_P	"LOC="	AR34	";
NET"	FMC_C_HB[2]_N	"LOC="	AY30	";
NET"	FMC_C_HB[2]_P	"LOC="	AW30	";
NET"	FMC_C_HB[20]_N	"LOC="	AR32	";
NET"	FMC_C_HB[20]_P	"LOC="	AP32	";
NET"	FMC_C_HB[21]_N	"LOC="	AU33	";
NET"	FMC_C_HB[21]_P	"LOC="	AT32	";
NET"	FMC_C_HB[3]_N	"LOC="	BB31	";
NET"	FMC_C_HB[3]_P	"LOC="	BA30	";
NET"	FMC_C_HB[4]_N	"LOC="	BB33	";
NET"	FMC_C_HB[4]_P	"LOC="	BB32	";
NET"	FMC_C_HB[5]_N	"LOC="	BA32	";
NET"	FMC_C_HB[5]_P	"LOC="	BA31	";
NET"	FMC_C_HB[6]_CC_N	"LOC="	AY33	";
NET"	FMC_C_HB[6]_CC_P	"LOC="	AY32	";
NET"	FMC_C_HB[7]_N	"LOC="	AV31	";
NET"	FMC_C_HB[7]_P	"LOC="	AU31	";
NET"	FMC_C_HB[8]_N	"LOC="	BB36	";
NET"	FMC_C_HB[8]_P	"LOC="	BA36	";
NET"	FMC_C_HB[9]_N	"LOC="	BA35	";
NET"	FMC_C_HB[9]_P	"LOC="	AY34	";
NET"	FMC_C_LA[0]_CC_N	"LOC="	T39	";
NET"	FMC_C_LA[0]_CC_P	"LOC="	U39	";
NET"	FMC_C_LA[1]_CC_N	"LOC="	V36	";
NET"	FMC_C_LA[1]_CC_P	"LOC="	V35	";
NET"	FMC_C_LA[10]_N	"LOC="	T42	";
NET"	FMC_C_LA[10]_P	"LOC="	U41	";
NET"	FMC_C_LA[11]_N	"LOC="	R35	";
NET"	FMC_C_LA[11]_P	"LOC="	T34	";
NET"	FMC_C_LA[12]_N	"LOC="	R37	";
NET"	FMC_C_LA[12]_P	"LOC="	T36	";
NET"	FMC_C_LA[13]_N	"LOC="	R39	";
NET"	FMC_C_LA[13]_P	"LOC="	R38	";
NET"	FMC_C_LA[14]_N	"LOC="	P38	";
NET"	FMC_C_LA[14]_P	"LOC="	P37	";
NET"	FMC_C_LA[15]_N	"LOC="	N34	";
NET"	FMC_C_LA[15]_P	"LOC="	N33	";
NET"	FMC_C_LA[16]_N	"LOC="	P36	";
NET"	FMC_C_LA[16]_P	"LOC="	P35	";
NET"	FMC_C_LA[17]_CC_N	"LOC="	K40	";
NET"	FMC_C_LA[17]_CC_P	"LOC="	K39	";
NET"	FMC_C_LA[18]_CC_N	"LOC="	L41	";
NET"	FMC_C_LA[18]_CC_P	"LOC="	M41	";
NET"	FMC_C_LA[19]_N	"LOC="	P40	";
NET"	FMC_C_LA[19]_P	"LOC="	R40	";
NET"	FMC_C_LA[2]_N	"LOC="	W33	";
NET"	FMC_C_LA[2]_P	"LOC="	W32	";
NET"	FMC_C_LA[20]_N	"LOC="	P42	";
NET"	FMC_C_LA[20]_P	"LOC="	R42	";
NET"	FMC_C_LA[21]_N	"LOC="	J42	";
NET"	FMC_C_LA[21]_P	"LOC="	K42	";
NET"	FMC_C_LA[22]_N	"LOC="	M39	";
NET"	FMC_C_LA[22]_P	"LOC="	N38	";
NET"	FMC_C_LA[23]_N	"LOC="	L42	";
NET"	FMC_C_LA[23]_P	"LOC="	M42	";
NET"	FMC_C_LA[24]_N	"LOC="	E42	";
NET"	FMC_C_LA[24]_P	"LOC="	F42	";
NET"	FMC_C_LA[25]_N	"LOC="	G42	";
NET"	FMC_C_LA[25]_P	"LOC="	G41	";
NET"	FMC_C_LA[26]_N	"LOC="	H41	";
NET"	FMC_C_LA[26]_P	"LOC="	H40	";
NET"	FMC_C_LA[27]_N	"LOC="	J41	";
NET"	FMC_C_LA[27]_P	"LOC="	J40	";
NET"	FMC_C_LA[28]_N	"LOC="	D42	";
NET"	FMC_C_LA[28]_P	"LOC="	D41	";
NET"	FMC_C_LA[29]_N	"LOC="	G39	";
NET"	FMC_C_LA[29]_P	"LOC="	H39	";
NET"	FMC_C_LA[3]_N	"LOC="	V34	";
NET"	FMC_C_LA[3]_P	"LOC="	V33	";
NET"	FMC_C_LA[30]_N	"LOC="	B42	";
NET"	FMC_C_LA[30]_P	"LOC="	B41	";
NET"	FMC_C_LA[31]_N	"LOC="	F41	";
NET"	FMC_C_LA[31]_P	"LOC="	F40	";
NET"	FMC_C_LA[32]_N	"LOC="	D40	";
NET"	FMC_C_LA[32]_P	"LOC="	E40	";
NET"	FMC_C_LA[33]_N	"LOC="	A41	";
NET"	FMC_C_LA[33]_P	"LOC="	A40	";
NET"	FMC_C_LA[4]_N	"LOC="	W37	";
NET"	FMC_C_LA[4]_P	"LOC="	W36	";
NET"	FMC_C_LA[5]_N	"LOC="	V38	";
NET"	FMC_C_LA[5]_P	"LOC="	W38	";
NET"	FMC_C_LA[6]_N	"LOC="	U38	";
NET"	FMC_C_LA[6]_P	"LOC="	U37	";
NET"	FMC_C_LA[7]_N	"LOC="	U42	";
NET"	FMC_C_LA[7]_P	"LOC="	V41	";
NET"	FMC_C_LA[8]_N	"LOC="	W42	";
NET"	FMC_C_LA[8]_P	"LOC="	W41	";
NET"	FMC_C_LA[9]_N	"LOC="	T41	";
NET"	FMC_C_LA[9]_P	"LOC="	T40	";
NET"	FMC_C_PG_C2M_F	"LOC="	C40	";
NET"	FMC_C_PG_M2C_F	"LOC="	M38	";
NET"	FMC_C_PRSNT_M2C_L_	"LOC="	N39	";
NET"	FPGA_A[0]	"LOC="	AJ28	";
NET"	FPGA_A[1]	"LOC="	AH28	";
NET"	FPGA_A[10]	"LOC="	AH29	";
NET"	FPGA_A[11]	"LOC="	AL30	";
NET"	FPGA_A[12]	"LOC="	AL29	";
NET"	FPGA_A[13]	"LOC="	AN33	";
NET"	FPGA_A[14]	"LOC="	AM33	";
NET"	FPGA_A[15]	"LOC="	AM32	";
NET"	FPGA_A[16]	"LOC="	AV41	";
NET"	FPGA_A[17]	"LOC="	AU41	";
NET"	FPGA_A[18]	"LOC="	BA42	";
NET"	FPGA_A[19]	"LOC="	AU42	";
NET"	FPGA_A[2]	"LOC="	AG31	";
NET"	FPGA_A[20]	"LOC="	AT41	";
NET"	FPGA_A[21]	"LOC="	BA40	";
NET"	FPGA_A[22]	"LOC="	BA39	";
NET"	FPGA_A[23]	"LOC="	BB39	";
NET"	FPGA_A[3]	"LOC="	AF30	";
NET"	FPGA_A[4]	"LOC="	AK29	";
NET"	FPGA_A[5]	"LOC="	AK28	";
NET"	FPGA_A[6]	"LOC="	AG29	";
NET"	FPGA_A[7]	"LOC="	AK30	";
NET"	FPGA_A[8]	"LOC="	AJ30	";
NET"	FPGA_A[9]	"LOC="	AH30	";
NET"	FPGA_ADV_N	"LOC="	AY37	";
NET"	FPGA_DONE	"LOC="	AL11	";
NET"	FPGA_DQ[0]	"LOC="	AM36	";
NET"	FPGA_DQ[1]	"LOC="	AN36	";
NET"	FPGA_DQ[10]	"LOC="	AH33	";
NET"	FPGA_DQ[11]	"LOC="	AK35	";
NET"	FPGA_DQ[12]	"LOC="	AL35	";
NET"	FPGA_DQ[13]	"LOC="	AJ31	";
NET"	FPGA_DQ[14]	"LOC="	AH34	";
NET"	FPGA_DQ[15]	"LOC="	AJ35	";
NET"	FPGA_DQ[2]	"LOC="	AJ36	";
NET"	FPGA_DQ[3]	"LOC="	AJ37	";
NET"	FPGA_DQ[4]	"LOC="	AK37	";
NET"	FPGA_DQ[5]	"LOC="	AL37	";
NET"	FPGA_DQ[6]	"LOC="	AN35	";
NET"	FPGA_DQ[7]	"LOC="	AP35	";
NET"	FPGA_DQ[8]	"LOC="	AM37	";
NET"	FPGA_DQ[9]	"LOC="	AG33	";
NET"	FPGA_FCS_N	"LOC="	AL36	";
NET"	FPGA_FOE_N	"LOC="	BA41	";
NET"	FPGA_FWE_N	"LOC="	BB41	";
NET"	FPGA_INIT	"LOC="	AG11	";
NET"	FPGA_RS0	"LOC="	AW42	";
NET"	FPGA_RS1	"LOC="	AW41	";
NET"	FPGA_USER_IO0_F	"LOC="	AY40	";
NET"	FPGA_USER_IO1_F	"LOC="	AY39	";
NET"	FPGA_USER_IO2_F	"LOC="	AT37	";
NET"	FPGA_USER_IO3_F	"LOC="	BA37	";
NET"	FPGA_USER_IO4_F	"LOC="	BB37	";
NET"	FPGA_USER_IO5_F	"LOC="	AR37	";
NET"	FPGA_USER_IO6_F	"LOC="	AY42	";
NET"	FPGA_USER_IO7_F	"LOC="	AP38	";
NET"	FPGA_USER_LED0	"LOC="	AU38	";
NET"	FPGA_USER_LED1	"LOC="	AM34	";
NET"	FPGA_USER_LED2	"LOC="	AV38	";
NET"	FPGA_USER_LED3	"LOC="	AK32	";
NET"	FPGA_USER_LED4	"LOC="	AN34	";
NET"	FPGA_USER_LED5	"LOC="	AW38	";
NET"	FPGA_USER_LED6	"LOC="	AL32	";
NET"	FPGA_USER_LED7	"LOC="	AW37	";
NET"	FPGA_USER_PB	"LOC="	AP18	";
NET"	FPGA_USER_SW1	"LOC="	AJ18	";
NET"	FPGA_USER_SW2	"LOC="	AN16	";
NET"	FPGA_USER_SW3	"LOC="	BB17	";
NET"	FPGA_USER_SW4	"LOC="	AM16	";
NET"	FPGA_USER_SW5	"LOC="	AL17	";
NET"	FPGA_USER_SW6	"LOC="	AK18	";
NET"	FPGA_USER_SW7	"LOC="	AK19	";
NET"	FPGA_USER_SW8	"LOC="	AK17	";
NET"	HSWAP	"LOC="	AH10	";
NET"	I2C_MAIN_RST_F	"LOC="	AM42	";
NET"	I2C_MAIN_SCL_F	"LOC="	AM41	";
NET"	I2C_MAIN_SDA_F	"LOC="	AN41	";
NET"	M0	"LOC="	AL10	";
NET"	M1	"LOC="	AK10	";
NET"	M2	"LOC="	AJ10	";
NET"	PROG	"LOC="	AJ11	";
NET"	PUDC	"LOC="	AP36	";
NET"	REFCLK_N	"LOC="	AL34	";
NET"	REFCLK_P	"LOC="	AK34	";
NET"	RREF_112	"LOC="	W9	";
NET"	RREF_115	"LOC="	B11	";
NET"	RREF_118	"LOC="	AC9	";
NET"	SECRET_F	"LOC="	AL31	";
NET"	SYS_CLK_DDR3_N	"LOC="	AU17	";
NET"	SYS_CLK_DDR3_P	"LOC="	AT17	";
NET"	SYS_MON_AVDD	"LOC="	Y21	";
NET"	SYS_MON_AVSS	"LOC="	AB20	";
NET"	SYS_MON_AVSS	"LOC="	AA21	";
NET"	SYS_MON_AVSS	"LOC="	AA20	";
NET"	SYS_MON_AVSS	"LOC="	AB21	";
NET"	SYS_MON_AVSS	"LOC="	Y20	";
NET"	TCK_FPGA	"LOC="	P10	";
NET"	TDI_FPGA	"LOC="	T10	";
NET"	TDO_FPGA	"LOC="	R10	";
NET"	TMS_FPGA	"LOC="	P11	";
NET"	UART_CTS	"LOC="	AR42	";
NET"	UART_DCD	"LOC="	AV39	";
NET"	UART_DSR	"LOC="	AU39	";
NET"	UART_DTR	"LOC="	AN39	";
NET"	UART_GPIO0	"LOC="	AP40	";
NET"	UART_GPIO1	"LOC="	AP41	";
NET"	UART_GPIO2	"LOC="	AP42	";
NET"	UART_GPIO3	"LOC="	AN40	";
NET"	UART_RI	"LOC="	AN38	";
NET"	UART_RST_N	"LOC="	AT40	";
NET"	UART_RTS	"LOC="	AR40	";
NET"	UART_RXD	"LOC="	AR39	";
NET"	UART_SUSPEND_N	"LOC="	AT39	";
NET"	UART_TXD	"LOC="	AT42	";
NET"	USB_PERI_PWR	"LOC="	AR38	";
